
.ck-content .row, .row, .ck-twocolumns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.ck-content .row .col-12.col-md-6, .row .col-12.col-md-6,
.ck-twocolumns .ck-twocolumns_first,
.ck-twocolumns .ck-twocolumns_second {
    flex: 1 1;
}
